.honey-jar-container {
    position: absolute;
    bottom: 100px;
    left: -10px;
    width: 30px;
    height: auto;
    transition: transform .7s ease;
}

.honey-jar {
    position: fixed;
    cursor: pointer;
}

.jar-menu {
    position: fixed;
    width: 150px;
    max-width: 150px;
    height: auto;
}

#jar-lid {
    position: absolute;
    left: 0;
    bottom: -85px;
    transition: bottom .7s ease;
}

#jar {
    display: block;
}

.menu {
    position: absolute;
    bottom: 60px;
    left: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu-item {
    position: absolute;
    width: 33px;
    height: 33px;
    bottom: -115px;
    left: 45px;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

.menu.show .menu-item:nth-child(1) {
    transform: translateY(-490%);
}

.menu.show .menu-item:nth-child(2) {
    transform: translateY(-330%);
}

.menu.show .menu-item:nth-child(3) {
    transform: translateY(-170%);
}

.menu.show .menu-item {
    opacity: 1;
    z-index: 5;
}