#piano-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 3px #000000;
    z-index: 5;
    transform: scale(0);
    animation: fade 1.5s ease 1s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.detail-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 60%;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("media/background/honeyHexagons.png");
    opacity: 0.5;
    padding: 10px 20px;
    border: solid 1px #422e1c;
    border-radius: 15px;
    background-color: #1a120e;
    font-family: 'Roboto';
    color: whitesmoke;
    box-shadow: 5px 5px black inset;
    z-index: 3;
}

.progress {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.play-button {
    background-color: rgb(235, 195, 146);
    color: rgb(89, 183, 89);
    margin-right: 25px;
    width: 8vw;
    height: 8vw;
    min-width: 30px;
    border: solid 2px rgb(215, 175, 126);
    border-radius: 15px;
    box-shadow: 4px 4px rgb(213, 170, 117);
    font-size: 5vw;
    z-index: 3;
    transition: transform 0.05s ease;
}

.play-button:disabled {
    transform: translate(5px, 5px);
    box-shadow: 4px 5px rgb(213, 170, 117) inset;
    color: rgb(49, 189, 49);
}

.play-button i {
    transform: translateX(-7%);
}

.record-button {
    background-color: rgb(235, 195, 146);
    color: rgb(236, 104, 104);
    margin-left: 25px;
    width: 8vw;
    height: 8vw;
    min-width: 30px;
    border: solid 2px rgb(215, 175, 126);
    border-radius: 15px;
    box-shadow: 4px 4px rgb(213, 170, 117);
    font-size: 5vw;
    z-index: 3;
    transition: transform 0.05s ease;
}

.record-button:disabled {
    transform: translate(5px, 5px);
    box-shadow: 4px 5px rgb(213, 170, 117) inset;
    color: rgb(251, 80, 80);
    cursor: not-allowed;
}

.record-button.recording {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        color: rgb(236, 104, 104);
    }

    50% {
        color: rgb(242, 39, 39);
    }
}

#piano-section {
    border: solid 5px #3d2303;
    box-shadow: #553106 5px 5px 0px -3px,
        #5a3508 5px 5px, #553106 10px 10px 0px -3px,
        #5a3508 10px 10px, #553106 15px 15px 0px -3px,
        #5a3508 15px 15px, #553106 20px 20px 0px -3px,
        #3d2303 22px 22px;
}

.wrapper {
    position: relative;
    padding: 30px;
    border-radius: 20px;

    background:
        radial-gradient(#3d2303, #844f0a),
        url('media/background/woodTexture.svg');
    background-blend-mode: normal, overlay;
    background-size: cover;
    background-position: center;

    overflow: hidden;
    transition: all 1s ease;
}

.wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('media/background/woodTexture.svg') center center / cover no-repeat;
    opacity: 0.15;
    pointer-events: none;
    z-index: 2;
    border-radius: inherit;
    transform: scale(2.5);
    transform-origin: center;
}

/*//////// KEYS /////////*/

.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#3d2303, #673a02);
    box-shadow: inset -1px -4px 4px 4px #141414c1;
}

.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #673a02, #442703);
}

.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#ffe5c3 96%, #f8cca0 4%);
    box-shadow: 4px 4px black;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #ffe5c3 0%, #f8cca0 100%);
}

.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 1.13rem;
    text-align: center;
}

.white span {
    color: rgb(126, 126, 126);
}

.black span {
    bottom: 13px;
    color: #e2e2e2;
}

.key.correct {
    background: rgb(75, 190, 75);
}

.key.correct.active {
    background: rgb(94, 204, 94);
    box-shadow: inset -1px -4px 2px 2px #141414c1;
}

.key.correct span {
    color: black;
}

.key.incorrect {
    background: rgb(222, 60, 60);
}

.key.incorrect.active {
    background: rgb(236, 82, 82);
    box-shadow: inset -1px -4px 2px 2px #141414c1;
}

.key.incorrect span {
    color: black;
}

.key.white.starting-note {
    box-shadow: inset -5px 5px 20px rgba(255, 213, 4, 0.836);
}

.key.black.starting-note {
    box-shadow: inset -1px -4px 4px 4px #141414e3, inset -5px 5px 20px rgba(247, 203, 5, 0.647);
}

.key.key.starting-note .white span {
    color: black;
}

.key.key.starting-note .black span {
    color: whitesmoke;
}


@media screen and (max-width: 815px) {
    .wrapper {
        padding: 25px;
    }

    .piano-keys {
        margin-top: 20px;
    }

    .piano-keys .key:where(:nth-child(16), :nth-child(17)) {
        display: none;
    }

    .piano-keys .black {
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }

    .piano-keys .white {
        height: 180px;
        width: 60px;
    }
}

@media screen and (max-width: 615px) {

    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
        display: none;
    }

    .piano-keys .white {
        width: 50px;
    }
}