#piano-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px #505050;
    z-index: 5;
}

.detail-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.screen {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 100px;
    padding: 10px;
    border: solid 1px #727272;
    border-radius: 15px;
    background-color: #000000;
    color: whitesmoke;
}

.play-button {
    margin-right: 25px;
    width: 10vw;
    height: 10vw;
    min-width: 30px;
    border-radius: 15px;
    font-size: 5vw;
}

.play-button i {
    transform: translateX(-7%);
}

.record-button {
    margin-left: 25px;
    width: 10vw;
    height: 10vw;
    min-width: 30px;
    border-radius: 15px;
    font-size: 5vw;
}

.wrapper {
    padding: 30px;
    border-radius: 20px;
    background: #252525;
    transition: all 1s ease;
}

/*//////// KEYS /////////*/

.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000000);
}

.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
}

.piano-keys .key.hide span {
    display: none;
}

.piano-keys .black span {
    bottom: 13px;
    color: #888888;
}



@media screen and (max-width: 815px) {
    .wrapper {
        padding: 25px;
    }

    .piano-keys {
        margin-top: 20px;
    }

    .piano-keys .key:where(:nth-child(16), :nth-child(17)) {
        display: none;
    }

    .piano-keys .black {
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }

    .piano-keys .white {
        height: 180px;
        width: 60px;
    }
}

@media screen and (max-width: 615px) {

    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
        display: none;
    }

    .piano-keys .white {
        width: 50px;
    }
}