* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('media/background/looneyTunesBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: backdrop-filter 2s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.7) 100%);
    opacity: 50%;
    pointer-events: none;
    transition: opacity 1s ease;
}

body.hover-vignette::before {
    opacity: 100%;
}

body.blured {
    backdrop-filter: blur(20px);
}

#svgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0.4;
    object-fit: cover;
    transition: all 1s ease;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #020200;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 16px solid #d9760c;
    border-top: 16px solid #fff306ce;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#game-over {
    display: none;
    text-align: center;
    z-index: 3;
}

#game-over h2 {
    display: flex;
    font-family: 'thatsFontFolks';
    font-size: 100px;
    color: #f8d942;
}

#game-over p {
    display: flex;
    font-family: 'Playwrite';
    font-size: 50px;
    color: #e7e5c4;
}

#game-over h6 {
    position: fixed;
    font-family: 'Roboto';
    font-size: 20px;
    color: #020200;
    bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'thatsFontFolks';
    src: url(media/fonts/Thats\ Font\ Folks!.ttf);
}

@font-face {
    font-family: 'Playwrite';
    src: url(media/fonts/Playwrite_NL/PlaywriteNL-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(media/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}