* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('media/looneyTunesBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#greeting-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: all 0.5s ease-in-out;
}

#logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
    color: bisque;
    font-family: 'thatsFontFolks';
    transition: all 0.5s ease-in-out;
}

#earTraining {
    margin-left: 252px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    color: #eee6b1;
    transition: all .4s ease;
}

#logoIMG {
    justify-content: center;
    width: 50vw;
    height: auto;
    min-width: 400px;
    margin-bottom: 0;
    transition: all 0.2s ease;
}

#name-form {
    margin-top: 20px;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#username {
    border: none;
    outline: none;
    background: none;
    color: bisque;
    font-family: 'thatsFontFolks';
    font-size: 15vw;
    text-align: center;
    width: 50px;
    min-width: 50px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'thatsFontFolks';
    font-size: 15vw;
    color: bisque;
}

.input-container .quote {
    font-size: 1em;
    margin: 0 5px;
}

#start-button {
    position: fixed;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 7vh;
    right: 47vw;
    background-color: #00000000;
    border: none;
    font-family: 'Playwrite';
    font-size: 30px;
}

#start-button:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 10px;
    left: 0px;
    transform: scaleX(0);
    background: #000000;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

#start-button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.type-your-name {
    position: fixed;
    width: 50vw;
    height: auto;
    right: -2vw;
    top: -20vh;
    z-index: -1;
    transition: all 1s ease;
}

#submitNext {
    margin-top: 50px;
    width: calc(1vw + 1vh);
    min-width: 250px;
    height: 75px;
    padding-bottom: 35px;
    color: #252525;
    font-size: 30px;
    font-family: 'Playwrite';
    border: 3px solid rgb(22, 22, 22);
    border-radius: 50px;
    background-color: #efc444;
    transition: all 0.5s ease;
}

#submitNext:hover {
    transform: scale(1.1);
    background-color: #fbd255;
}

#piano-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px #505050;
}

.detail-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.screen {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 100px;
    padding: 10px;
    border: solid 1px #727272;
    border-radius: 15px;
    background-color: #000000;
    color: whitesmoke;
}

.play-button {
    margin-right: 25px;
    width: 100px;
    height: auto;
    border-radius: 15px;
}

.wrapper {
    padding: 30px;
    border-radius: 20px;
    background: #252525;
    transition: all 1s ease;
}

.piano-keys {
    display: flex;
    list-style: none;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .black {
    z-index: 2;
    width: 44px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000000);
}

.piano-keys .black.active {
    box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
    height: 230px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

.piano-keys .key span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
}

.piano-keys .key.hide span {
    display: none;
}

.piano-keys .black span {
    bottom: 13px;
    color: #888888;
}

@media screen and (max-width: 815px) {
    .wrapper {
        padding: 25px;
    }

    .piano-keys {
        margin-top: 20px;
    }

    .piano-keys .key:where(:nth-child(16), :nth-child(17)) {
        display: none;
    }

    .piano-keys .black {
        height: 100px;
        width: 40px;
        margin: 0 -20px 0 -20px;
    }

    .piano-keys .white {
        height: 180px;
        width: 60px;
    }

    .type-your-name {
        top: -10vh;
    }

    #earTraining {
        margin-left: 200px;
    }
}

@media screen and (max-width: 615px) {

    .piano-keys .key:nth-child(13),
    .piano-keys .key:nth-child(14),
    .piano-keys .key:nth-child(15),
    .piano-keys .key:nth-child(16),
    .piano-keys .key :nth-child(17) {
        display: none;
    }

    .piano-keys .white {
        width: 50px;
    }

    #start-button {
        right: 42vw;
    }
}

@keyframes moveLogo {
    0% {
        top: 20%;
        right: 0%;
    }

    100% {
        margin-top: 0;
        top: -60px;
        right: 0%;
    }
}

@keyframes shrinkLogo {
    0% {
        width: 50vw;
    }

    100% {
        min-width: 200px;
        width: 200px;
    }
}

#logo-section.move-up {
    animation: moveLogo 0.5s forwards;
    position: fixed;
    width: 100%;
}

#logoIMG.shrink {
    animation: shrinkLogo 0.9s forwards;
}

@font-face {
    font-family: 'thatsFontFolks';
    src: url(media/Thats\ Font\ Folks!.ttf);
}

@font-face {
    font-family: 'Playwrite';
    src: url(media/Playwrite_NL/PlaywriteNL-VariableFont_wght.ttf);
}