* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('media/looneyTunesBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background-size 1s ease, background-position 1s ease;
}

body.zoomed {
    background-size: 400%;
    background-position: center center;
}

#svgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0.4;
    object-fit: cover;
    transition: all 1s ease;
}

@font-face {
    font-family: 'thatsFontFolks';
    src: url(media/Thats\ Font\ Folks!.ttf);
}

@font-face {
    font-family: 'Playwrite';
    src: url(media/Playwrite_NL/PlaywriteNL-VariableFont_wght.ttf);
}